
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;}



    
    
    body{
        font-family: sans-serif;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
    
     }
    
main{

    width: 100%;
    height: auto;
    float: left;
    
    }
    
    header {
    
        width: 100%;
        height: auto;
        float:left;
    }


    #img-header{
    
        width: 100%;
        height: 700px;
        float: left;
    }
    #h1-header{
    
    text-align: center;
    background-color:orange;
    width: 100%;
    height: 10px;
    }
    nav{
    
        width: 100%;
        height: 35px ;
        float: left;
        background-color:gray;
        display: grid;
        grid-template-columns: repeat(5,20%);
    }
    .nav-menu li:not(:last-child) {
        border-right: 1px solid #ccc;
    }
    .a-nav{
        width: 100%;
        height: 30px;
        font-size: 20px;
        text-align: center;
        color: white;
    
    
    }
    .a-nav:hover{
    
    background-color: white;
    color: gray;
    
    }
    
    aside{
    
    width: 100%;
    height: auto;
    float: left;
    border: 1px 1px 1px dashed;
    
    }
    
  .h3-aside{
    
    text-align: center;
    background-color:yellowgreen;
    color: white;
    
    }
    .item{
    
    list-style-type:symbols();
    margin: 2px;
    
    }

    .footer {
 
        background-color: #24262b;
        padding: 80px 0;
        align-self: flex-end;
        width: 100%;
    
     }
    .footer-row{
 
        display: flex;
        flex-wrap: wrap;
    
     }
    .footer-links{
 
        width: 25%;
        padding: 0 15px;
    
     }
    
    .footer-links h4 {
    
    
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid #00c3ff;
        padding-bottom: 10 px ;
        display: inline-block;
    }
    
    .footer-links ul li a {
    
    
        font-size: 18px;
        text-decoration: none;
        color:#bbbbbb;
        display: block;
        margin-bottom: 15px;
        transition: all .3s ease;
    
    }
    
    .footer-links ul li  a:hover {
        color: #ffffff;
        padding-left: 6px;
    
    }
    
    .social-link a {
    
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: rgba(255, 255 , 255 , 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all .5s ease;
    
    }
    
    .social-link a:hover {
        background-color: #00c3ff;
    }
    
    @media(max-widht:991px){  
       .footer-row {
          text-align:center; 
          }
    
       .footer-links {
           width: 100%;
           margin-bottom: 30px;
    
       }
    }
    
    
    
    

    